.footer-container {
  
    padding: 16px 0px 0px 10px;
    background-color: #11174A; /* Set background color to yellow */
   
}

.left-content{
    text-align: left;
    display: inline-block;
    width: 40%;
    height: 50px;
   /* background-image: url('../../assets/hud.gif') ; */
   
    background-repeat: no-repeat;
    
}
.middle-content{
    text-align: center;
    display: inline-block;
    width: 40%;
    height: 25px;
    /*background-image: url('../../assets/logo.png');*/
    background-size: 300px 100px;
    background-repeat: no-repeat;
}
.right-content{
    text-align: right;
    display: inline-block;
    width: 20%;
    height: 25px;
    /*background-image: url('../../assets/radio.gif');*/
    background-repeat: no-repeat;
   


}
